@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* contents size */
    --header-size: 4rem;
    --header-icon-size: 2.5rem;
    --regular-icon-size: 1.5rem;
    --contents-size: calc(100vh - 4rem);
    --signup-img-size: 12rem;
    --input-width: 30rem;
    --input-height: 3rem;
    --input-padding-x: 0.8rem;
    --input-margin-x: 3rem;
    --input-margin-y: 0.8rem;
    --contents-layout-margin: 1.5rem;
    --contents-box-gap: 1rem;
    --popup-min-size: 37.5rem;
    --popup-list-margin-bottom: 1rem;

    /* font-family */
    --font-family-primary: 'Roboto', sans-serif;

    /* font-weight */
    --font-weight-404: 900;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* font-size */
    --font-size-3xl: 3rem;
    --font-size-large: 1.2rem;
    --font-size-regular: 1rem;

    /* letter spacing */
    --narrow-spacing-large: -0.05rem;
    --narrow-spacing-regualr: -0.03rem;

    /* color */
    --main-color: #237700;
    --sub-color: #e1f4d9;
    --close-color: #be0000;
    --contents-box-color: #fdfdfd;
    --disable-color: #c2c2c2;
    --selected-color: #c2c2c2;
    --scroll-color: #f5f5f5;
    --kakao-color: #f6e04b;

    /* text color */
    --text-color-default: #2c2c2c;
    --text-color-bold: #5e5e5e;
    --text-color-error: #be0000;
    --text-color-blue: #0909e7;
    --text-color-white: #ffffff;

    /* border color */
    --border-list: #efefef;
    --border-input: #b1b1b1;
    --border-scroll: #dfdfdf;

    /* todo color */
    --todo-red: #c83c00;
    --todo-yellow: #dab700;
    --todo-green: #237700;
    --todo-blue: #00c2ff;
    --todo-orange: #ff7a00;
    --todo-purple: #db00ff;
    --todo-pink: #ff0099;
    --todo-yellow-green: #8fff00;
    --todo-gray: #d9d9d9;
  }

  body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    font-style: normal;
  }
}
